extends ../layouts/account.pug
include ../mixins/inner-more.pug

block title 
    title Quên mật khẩu
block main 
    h2.inner-title Quên mật khẩu
    p.inner-desc Vui lòng nhập email để tiếp tục
    
    form.inner-form(action="#")
        .inner-group 
            label(for="email" class="inner-label") Email
            input(
                type="email"
                name="email"
                class="inner-control"
                id="email" 
                placeholder="Ví dụ: levana@gmail.com"
            )
        button(class="inner-button") Gửi mã OTP
    
    +inner-more("Bạn đã nhớ mật khẩu?", "Đăng nhập")