extends ../layouts/account.pug
include ../mixins/inner-more.pug

block title 
    title Đăng ký
block main 
    h2.inner-title Đăng ký
    p.inner-desc Tạo một tài khoản để tiếp tục
    
    form.inner-form(action="#")
        .inner-group 
            label(for="text" class="inner-label") Họ tên
            input(
                type="text"
                name="text"
                class="inner-control"
                id="text" 
                placeholder="Ví dụ: Lê Văn A"
            ) 
        .inner-group 
            label(for="email" class="inner-label") Email
            input(
                type="email"
                name="email"
                class="inner-control"
                id="email" 
                placeholder="Ví dụ: levana@gmail.com"
            ) 
        .inner-group 
            label(for="password" class="inner-label") Mật khẩu
            input(
                type="password"
                name="password"
                class="inner-control"
                id="password" 
            ) 
        .inner-meta 
            .inner-confirm 
                input(
                    type="checkbox"
                    name="acceptPrivacy" 
                    class="inner-check" 
                    id="acceptPrivacy"
                )
                label(
                    for="rememberPass" 
                    class="inner-label"
                ) Tôi chấp nhận các điều khoản và điều kiện       
        button(class="inner-button") Đăng Nhập

    +inner-more("Bạn đã có tài khoản?", "Đăng nhập")
